!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300')
    link(rel='stylesheet', href='/css/geta6.css')
    title Oh no &#65381; geta6netbuntu

  body
    #errors
      h1= res.statusCode
        h2 ⌒
      if res.statusCode >= 500
        p
          | Your browser did something unexpected.
          | Please contact us if the problem persists.
      else
        p No content visible.
