@import 'nib'

global-reset()

html, body
  padding 0 5px
  background #EDEDEB
  font-size 14px
  font-family 'Open Sans', Sans-Serif
  color #2B2B2B

.container
  margin 50px auto 40px auto
  max-width 960px
  text-align center

a
  color #4183c4
  text-decoration none
  &:hover
    text-decoration underline

h1
  margin 0px
  font-weight 300
  line-height 60px
  font-size 60px
  letter-spacing -1px
  text-shadow 0 1px 0 #fff

h2
  line-height 30px
  font-size 30px
  font-weight 300

p
  margin 20px 0 40px
  color rgba(0, 0, 0, 0.5)
