upstream nodejs {
  server  127.0.0.1:3000;
}

# Default HTTP
server {
  listen       80 default_server;
  charset      UTF-8;
  server_name  _;
  root         /Developer/hive/public;
  index        index.html;

  location ~* ^(\/css|\/js|\/img|\/lib) {
    access_log  off;
  }

  location ~* ^(index\.html|favicon\.ico|robot\.txt)$ {
    access_log  off;
  }

  location ~* ^(\/.+)$ {
    proxy_read_timeout     300;
    proxy_connect_timeout  300;
    proxy_set_header       Host               $host;
    proxy_set_header       X-Real-IP          $remote_addr;
    proxy_set_header       X-Forwarded-Host   $host;
    proxy_set_header       X-Forwarded-Server $host;
    proxy_set_header       X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header       X-Document-Root    $document_root;
    proxy_set_header       X-Document-URI     $document_uri;
    proxy_set_header       Upgrade            $http_upgrade;
    proxy_set_header       Connection         "Upgrade";
    proxy_pass             http://nodejs;
  }
}
