!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700')
    link(rel='stylesheet', href='//api.geta6.net/font?family=glyphicons')
    link(rel='stylesheet', href='/css/geta6.css')
    link(rel='stylesheet', href='/css/icons.css')
    title

  body
    #loader
    #notify
    #header
      ul.navi
        li#viewmode: a(href='javascript:void(0)'): i.icon.show_thumbnails_with_lines
        li#stream: a(href='javascript:void(0)'): i.icon.flash
        li: a(href='javascript:void(0)'): i.icon.search
      ul.site
        li#viewsort.info
          a(href='javascript:void(0)')
            span.sort: i.icon.clock
            span.order: i.icon.down_arrow
          ul.open
            li#viewsort_timedsc
              i.icon.clock
              i.icon.down_arrow
            li#viewsort_timeasc
              i.icon.clock
              i.icon.up_arrow
            li#viewsort_namedsc
              i.icon.font
              i.icon.down_arrow
            li#viewsort_nameasc
              i.icon.font
              i.icon.up_arrow
        li#userinfo.info
          a(href='javascript:void(0)'): i.icon.user
          ul.open
            li: form.negotiation(action='/session', method='DELETE')
              button(type='submit'): i.icon.power
    #guides: div
    #leader
    #player
      //- button#player_back: i.icon.fast_backward
      button#player_play: i.icon.play
      //- button#player_next: i.icon.fast_forward
      a#player_wrap
        audio#main_audio(autoplay, controls)
        video#main_video(autoplay, controls)

    script#tp_visits(type='text/template')
      form.visits.negotiation(action='/session', method='POST')
        input(type='username', name='username', placeholder='username', autofocus)
        input(type='password', name='password', placeholder='password')
        button(type='submit') SIGN IN

    script#tp_leader(type='text/template')
      a.leader(href='\#{{ path }}', class='{{ view }}')
        .view
          img.lazy(src='', data-original='{{ path }}.thumbnail', width='80px', height='80px')
        .info
          span.icon: i.icon(class='{{ _.mimeicon(mime) }}')
          span.name {{ name }}
        .stat
          span {{ moment(time).fromNow() }}
          span ・
          span {{ _.unitconv(size, mime) }}

    script#tp_browse(type='text/template')
      .browse
        .view
          img(src='{{ path }}.thumbnail', width='80px', height='80px')
        .info
          span.icon: i.icon(class='{{ _.mimeicon(mime) }}')
          span.name {{ name }}
        .stat
          span {{ moment(time).fromNow() }}
          span ・
          span {{ _.unitconv(size, mime) }}
        .ctrl
          <% if (kind = _.playable(mime)) { %>
          form.playstation(action='{{ path }}', method='{{ kind }}'): button: i.icon.play
          <% } %>
          form(action='{{ path }}'): button(type='submit'): i.icon.download
          form(action='afp://geta6.net/media{{ path }}'): button(type='submit'): i.icon.imac

    script#tp_notify(type='text/template')
      .notify: .text(class='{{ type }}') {{ text }}

    script#tp_errors(type='text/template')
      #errors
        h1 x x
          h2 ⌒
        p No content visible.

    script(src='/lib/jquery.min.js')
    //- //cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js
    script(src='/lib/underscore-min.js')
    //- //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js
    script(src='/lib/moment.min.js')
    //- //cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js
    script(src='/lib/jquery.lazyload.min.js ')
    //- //cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.8.4/jquery.lazyload.min.js
    script(src='//api.html5media.info/1.1.5/html5media.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/geta6.js')
