!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700')
    link(rel='stylesheet', href='//api.geta6.net/font?family=glyphicons')
    link(rel='stylesheet', href='/css/hive.css')
    link(rel='stylesheet', href='/css/icon.css')
    //- iPhone
    link(rel='apple-touch-icon-precomposed', href='/img/app/icon.57.png', sizes='57x57')
    link(rel='apple-touch-startup-image', href='/img/app/wall.460.png', media="(device-width:320px) and (device-height:480px) and (-webkit-device-pixel-ratio:1)")
    //- iPhone (Retina)
    link(rel='apple-touch-icon-precomposed', href='/img/app/icon.114.png', sizes='114x114')
    link(rel='apple-touch-startup-image', href='/img/app/wall.920.png', media="(device-width:320px) and (device-height:480px) and (-webkit-device-pixel-ratio:2)")
    //- iPhone 5
    link(rel='apple-touch-startup-image', href='/img/app/wall.1096.png', media="(device-width:320px) and (device-height:568px) and (-webkit-device-pixel-ratio:2)")
    //- iPad
    link(rel='apple-touch-icon-precomposed', href='/img/app/icon.72.png', sizes='72x72')
    link(rel='apple-touch-startup-image', href='/img/app/wall.1004.png', media="(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait)")
    link(rel='apple-touch-startup-image', href='/img/app/wall.1024.png', media="(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape)")
    //- iPad (Retina)
    link(rel='apple-touch-icon-precomposed', href='/img/app/icon.144.png', sizes='144x144')
    link(rel='apple-touch-startup-image', href='/img/app/wall.2008.png', media="(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait)")
    link(rel='apple-touch-startup-image', href='/img/app/wall.2048.png', media="(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:2) and (orientation:landscape)")
    link(rel='shortcut icon', href='/img/app/favicon.ico')
    title

  body
    #loader
    #notify
    #header
      ul.navi
        li#viewmode: a(href='javascript:void(0)'): i.icon.show_thumbnails_with_lines
        li#latest50: a(href='javascript:void(0)'): i.icon.flash
        li#datafind: form.datafind
          a(href='javascript:void(0)'): i.icon.search
          input#datafind_field(type='text', placeholder='Search text')
          input(type='submit')
      ul.site
        li#viewsort.info
          a(href='javascript:void(0)')
            span.sort: i.icon.clock
            span.order: i.icon.down_arrow
          ul.open
            li#viewsort_timedsc
              i.icon.clock
              i.icon.down_arrow
            li#viewsort_timeasc
              i.icon.clock
              i.icon.up_arrow
            li#viewsort_namedsc
              i.icon.font
              i.icon.down_arrow
            li#viewsort_nameasc
              i.icon.font
              i.icon.up_arrow
        li#userinfo.info
          a(href='javascript:void(0)'): i.icon.user
          ul.open
            li: form.negotiation(action='/session', method='DELETE')
              button(type='submit'): i.icon.power

    #guides: div
    #leader
    #floats
    #handle
      button.handle_back: i.icon.fast_backward
      button.handle_play: i.icon.play
      button.handle_next: i.icon.fast_forward
      #handle_show
    #player
      .viewer
      .player
        audio#audio(autoplay, controls)
        video#video(autoplay, controls)
        #pageguide
          input#jumps
          button#ofull: i.icon.resize_full
          #fullp
            button#xfull: i.icon.resize_small
        img#pages

    script#tp_unauth(type='text/template')
      form.unauth.negotiation(action='/session', method='POST')
        input(type='username', name='username', placeholder='username', autofocus)
        input(type='password', name='password', placeholder='password')
        button(type='submit') SIGN IN

    script#tp_leader(type='text/template')
      <% __thumb__ = _.mimethumb(name, mime) %>
      a.leader(href='\#{{ path }}', class='{{ view }}')
        .view
          img.lazy(src='{{ __thumb__ }}', data-original='{{ path }}.thumbnail?fallback={{ __thumb__ }}', width='80px', height='80px')
        .info
          span.icon: i.icon(class='{{ _.mimeicon(mime) }}')
          span.name {{ name }}
        .stat
          span {{ moment(time).fromNow() }}
          span ・
          span {{ _.unitconv(size, mime) }}

    script#tp_viewer(type='text/template')
      <% __thumb__ = _.mimethumb(name, mime) %>
      .view
        a(href='\#{{ path }}')
          img(src='{{ path }}.thumbnail?fallback={{ __thumb__ }}', width='80px', height='80px')
      .info
        span.icon: i.icon(class='{{ _.mimeicon(mime) }}')
        span.name {{ name }}
      .stat
        span {{ moment(time).fromNow() }}
        span ・
        span {{ _.unitconv(size, mime) }}
      .ctrl
        form: button.handle_back: i.icon.fast_backward
        form: button.handle_play: i.icon.play
        form: button.handle_next: i.icon.fast_forward

    script#tp_browse(type='text/template')
      <% __thumb__ = _.mimethumb(name, mime) %>
      .browse
        .view
          img(src='{{ path }}.thumbnail?fallback={{ __thumb__ }}', width='80px', height='80px')
        .info
          span.icon: i.icon(class='{{ _.mimeicon(mime) }}')
          span.name {{ name }}
        .stat
          span {{ moment(time).fromNow() }}
          span ・
          span {{ _.unitconv(size, mime) }}
        .ctrl
          <% if (kind = _.playable(mime)) { %>
          form.playstation(action='{{ path }}', method='{{ kind }}'): button: i.icon.play
          <% } %>
          form.passthrough(action='{{ path }}'): button(type='submit'): i.icon.download
          form.passthrough(action='afp://geta6.net/media{{ path }}'): button(type='submit'): i.icon.imac

    script#tp_notify(type='text/template')
      .notify: .text(class='{{ type }}') {{ text }}

    script#tp_errors(type='text/template')
      #errors
        h1 x x
          h2 ⌒
        p <% if (typeof message == 'undefined') { %>No content visible.<% } else { %>{{ message }}<% } %>

    //- script(src='/lib/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    //- script(src='/lib/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    //- script(src='/lib/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    //- script(src='/lib/jquery.lazyload.min.js ')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.8.4/jquery.lazyload.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/hive.js')
